@import "constant.scss";

#home{

    position: relative;

    .home-background-banner{
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .centered-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        flex-direction: column;
        text-align: center;
        width: 40vw;

        .main-text{
            font-weight: bold;
            font-size: 3.8vw;
        }

        .sub-text{
            margin: 3em 0;
        }
    }
}
