

#wellness{
    .wellness-services{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .service{
            display: flex;
            flex-direction: column;
            width: 35em;
            padding-right: 2.5em;

            img{
            }

            .title{
                margin-top: 0.7em;
                font-weight: bold;
                font-size: 1.5em;
            }

            .description{
                margin: 1em 0 3.9em;
            }
        }
    }
}