@import "constant.scss";

#wellness{
    .wellness-services{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2.5em;

        .service{
            display: flex;
            flex-direction: column;
            width: min(35em, 100%);

            .title{
                margin-top: 0.7em;
                font-weight: 700;
                font-size: clamp(1.15rem, 1rem + 0.7vw, 1.5rem);
            }

            .description{
                font-size: $font-size-body;
                margin: 1em 0 2.5em;
            }
        }
    }
}