<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
      <div style="overflow-x: auto">
        <table>
          <tr>
            {% for plan in site.data.plans.plans %}
            <th>{{plan.name}}</th>
            {% endfor %}
          </tr>
          <tr>
            {% for plan in site.data.plans.plans %}
            <td>
              <ol>
                {% for feature in plan.features %}
                <li>{{feature}}</li>
                {% endfor %}
              </ol>
            </td>
            {% endfor %}
          </tr>
          <tr>
            {% for plan in site.data.plans.plans %}
            <td>
              <a
                href="mailto:{{site.email}}?subject=Enquiry&body=Hi! I would like to know more about the {{plan.name}} Module.">Contact</a>
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>